@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  color: #333333;
}

hr {
  width: 800px;
  margin: 0 auto;
  height: 0.5px;
  background: #eeeeee;
}

.menu {
  position: fixed;
  background: #4acaa8;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.menu span {
  text-align: center;
  font-size: 15px;
  padding-left: 40px;
  line-height: 50px;
  cursor: pointer;
  color: white;
}

#first_page {
  width: 100%;
  height: 400px;
  padding-top: 50px;
}

#first_page .first_page_text {
  margin: 0 auto;
  width: 800px;
  height: 400px;
}

#first_page .first_page_text h1 {
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 30px;
  color: #4acaa8;
}

#first_page .first_page_text p {
  font-size: 15px;
  line-height: 40px;
}

#second_page {
  width: 100%;
  height: 400px;
  padding-top: 50px;
}

#second_page .second_page_text {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

#second_page .second_page_text .second_page_text_01 {
  width: 400px;
  height: 400px;
  float: left;
}

#second_page .second_page_text .second_page_text_01 h1 {
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 20px;
}

#second_page .second_page_text .second_page_text_01 p {
  padding-top: 10px;
}

#second_page .second_page_text .second_page_text_01 .graph {
  width: 200px;
  border: 1px solid #333333;
  position: relative;
  bottom: 20px;
  left: 100px;
}

#second_page .second_page_text .second_page_text_01 .graph .bar {
  background: #4acaa8;
  text-align: center;
  width: 80%;
  color: white;
}

#second_page .second_page_text .second_page_text_02 {
  width: 400px;
  height: 400px;
  float: left;
}

#second_page .second_page_text .second_page_text_02 h1 {
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 20px;
}

#second_page .second_page_text .second_page_text_02 p {
  position: relative;
  top: 160px;
}

#second_page .second_page_text .second_page_text_02 .graph {
  width: 200px;
  border: 1px solid #333333;
  position: relative;
  top: 140px;
  left: 100px;
}

#second_page .second_page_text .second_page_text_02 .graph .bar {
  background: #4acaa8;
  text-align: center;
  width: 80%;
  color: white;
}

#third_page {
  width: 100%;
  height: 700px;
  padding-top: 50px;
}

#third_page .third_page_text {
  width: 800px;
  height: 700px;
  margin: 0 auto;
}

#third_page .third_page_text h1 {
  font-size: 30px;
  padding-top: 100px;
}

#third_page .third_page_text .portfolio_02 {
  width: 500px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 2px solid #4acaa8;
}

#third_page .third_page_text .portfolio_02 .portfolio_02_link {
  width: 200px;
  height: 200px;
  background: #4acaa8;
  float: left;
  cursor: pointer;
}

#third_page .third_page_text .portfolio_02 .portfolio_02_link p {
  line-height: 200px;
  text-align: center;
  color: white;
}

#third_page .third_page_text .portfolio_02 .portfolio_02_text {
  width: 300px;
  height: 200px;
  float: left;
}

#third_page .third_page_text .portfolio_02 .portfolio_02_text p {
  position: relative;
  top: 70px;
  text-align: center;
  line-height: 30px;
}

#third_page .third_page_text .portfolio_01 {
  width: 500px;
  height: 200px;
  margin-top: 30px;
  border: 2px solid #4acaa8;
}

#third_page .third_page_text .portfolio_01 .portfolio_01_link {
  width: 200px;
  height: 200px;
  background: #4acaa8;
  float: left;
  cursor: pointer;
}

#third_page .third_page_text .portfolio_01 .portfolio_01_link p {
  line-height: 200px;
  text-align: center;
  color: white;
}

#third_page .third_page_text .portfolio_01 .portfolio_01_text {
  width: 300px;
  height: 200px;
  float: left;
}

#third_page .third_page_text .portfolio_01 .portfolio_01_text p {
  line-height: 200px;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */